#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;

  --card-width: 240px;
  --card-height: 340px;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $color-bg;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: $font-family-heading;
  text-transform: uppercase;
}

h2 {
  font-family: $font-family-heading;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
}

label {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

textarea {
  height: 16.5px;
  /* same as input[type=text] */
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

time {
  color: $color-neutral-gray;
}