.container {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 4px;
  }
}

#preset-cubes {
  margin-left: 4px;
}