.chat-container {
  height: 100%;
  position: relative;
  min-width: 25%;
  z-index: 100;
}

.chat-container-hidden {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

.chat {
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: 7px;
  top: 0;
  width: 25%;
  z-index: 0;
}

.messages {
  background-color: #fafafa;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  padding: 5px;
}

.chat-input {
  margin-left: -1px;
  width: 100%;
}