.CardDefault {
  --pick-color: #2ba62b;

  padding: 0;
  position: relative;
  cursor: pointer;

  display: grid;

  width: 50%;
  max-width: 300px;
  margin: auto;

  &.-leader {
    width: 100%;
    max-width: 400px;
  }

  .CardBase {
    grid-row: 1;
    grid-column: 1;

    .SelectionState {
      grid-row: 1;
      grid-column: 1;
    }
  }
}
